body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .disco-bar {
    display: flex;
    padding: 15px;
    background-color: rgb(29, 29, 45);
    justify-content: space-between;
    width: 800px;
    height: 300px;
    transform: rotate(180deg);
    --dot-bg: rgb(29, 29, 45);
    --dot-color: rgb(50, 50, 60);
    --dot-size: 1px;
    --dot-space: 5px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);

  }

  

  .pillar {
      z-index: -1;
    width: 160px;
    background-color: #ffcc00;
    transform-origin: bottom;
    transition: height 1s ease-in-out;


  }

  .button-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  button {
    padding: 7px 33px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    font-size: 14px;
    font-family: monospace;
    
  }